body {
  position: fixed;
  inset: 0px;
  width: 12rem;
  height:25rem;
  
  margin: auto;
}

.container {
  height: 350px;
  width: 200px;
  background-color: rgb(70, 77, 74);
  display: grid;
  place-content: center;
  justify-content: center;
  align-items: center;
}
h3{
  text-align: center;
  color:ghostwhite;
}

.board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-row {
  display: flex;
}

.square {
  height: 50px;
  width: 50px;
  margin: 1px;
  font-size: 24px;
}

.btn{
  cursor: pointer;
  background: transparent;
  color: ghostwhite;
  border: 1px solid blanchedalmond;
  padding: 13px;
  font-size: 16px;
  margin-top: 12px;
}
.btn:hover{
  color: aqua;
  background-color: rgb(49, 109, 108);
}
